.suo
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
DesignTimeResolveAssemblyReferencesInput.cache
ModelHelp.Form1.resources
ModelHelp.Properties.Resources.resources
ModelHelp.csproj.FileListAbsolute.txt
ModelHelp.csproj.GenerateResource.cache
ModelHelp.csprojAssemblyReference.cache
build.force
.signature.p7s
BouncyCastle.1.8.5.nupkg
README.md
BouncyCastle.Crypto.dll
Google.Protobuf.3.11.2.nupkg
Google.Protobuf.dll
Google.Protobuf.pdb
Google.Protobuf.xml
MySql.Data.8.0.18.nupkg
MySql.Data.dll
MySql.Data.xml
LICENSE.md
Newtonsoft.Json.12.0.3.nupkg
Newtonsoft.Json.dll
Newtonsoft.Json.xml
packageIcon.png
SSH.NET.2016.1.0.nupkg
Renci.SshNet.dll
Renci.SshNet.xml
LICENSE.TXT
System.Buffers.4.4.0.nupkg
THIRD-PARTY-NOTICES.TXT
_._
System.Buffers.dll
System.Buffers.xml
useSharedDesignerContext.txt
version.txt
System.Memory.4.5.2.nupkg
System.Memory.dll
System.Memory.xml
System.Numerics.Vectors.4.4.0.nupkg
System.Numerics.Vectors.dll
System.Numerics.Vectors.xml
System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
System.Runtime.CompilerServices.Unsafe.dll
System.Runtime.CompilerServices.Unsafe.xml
bin
obj
/ModelHelp/TestModel/traveplay_new
/packages
/.vs/ModelHelp/DesignTimeBuild/.dtbcache
